.profileMainContainer {
    background-color: #fff;
    height: auto;
    width: auto;
    overflow-y: hidden;
}

.sideMainContain{
    display: flex;
}

.top-navi2 {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    box-shadow: 5px 2px 5px 5px grey;
}

.h-tags {
    color: #0e0eba;
    padding-left: 5rem;
    width: 40rem;
    display: flex;
    justify-content: start;
    align-items: start;
}

.innerMenu{
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5%;
    grid-column-gap: 1rem;
    justify-content: space-evenly;
}

.menu div a{
    color: #0e0eba;
    font-weight: 600;
    font-size: 16px;
    margin-right: 170px;
    word-spacing: 50px;
    
}

.option {
    text-align: right;
    justify-content: left;
}

.profile-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color:white;

}

.updateProfile{
    background-color: transparent;
    color: #070750;
}

.updateProfile button{
    border: none;
    border-radius: 8px;
    background-color: #0e0eba;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.account-info  {
    background-color: #fff;
    width: 20rem;
    height: 40rem;
    margin-top: 5rem;
    box-shadow: 5px 2px 5px grey;
    padding-top: 2rem;
}

.userProfileBioData {
    justify-content: flex-start;
    float: left;
    
}

.userBiodata{
    display: grid;
    grid-template-columns: 10% 70%;
    justify-content: center;
    margin: 2rem rem;
    height: 12%;
    align-items: center;
}

.userBiodata:hover{
    background-color: transparent;
    color: #fff;
    /* border: 2px solid #0e0eba; */
    border-left-color: #0e0eba;
    border-left-width: 2px;
    border-left-style: solid;
    border-bottom-color: #0e0eba;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top-color: #0e0eba;
    border-top-width: 2px;
    border-top-style: solid;
    border-right-color: #e0e0e0;
    border-right-width: 2px;
    border-right-style: solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.userBiodataBtn:hover{
    border: none;
    background-color: transparent;
    color: #0e0eba;
    font-size: 25px;
    font-weight: bold;
    justify-content: start;
}

.favorite:hover{
    color: #fff;
    background-color: #fff;
}

.userBiodata span:hover {
    color: #0e0eba;
    font-size: 20px;
    font-weight: bold;
    justify-content: start;
    text-align: left;
    margin-left: 5px;
}

.userBiodata span {
    color: #0e0eba;
    font-size: 20px;
    font-weight: bold;
    justify-content: start;
    text-align: left;
    margin-left: 5px;
}

.profileHeader{
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.profileHeader span{
    color: #070750;
    font-size: 30px;
    font-weight: 700;
}

.account-info div img {
    width: 1rem;
    margin-top: 9px;
}

.bio-Data:hover {
    border-color: black;
}

.content{
    
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("../assets/image/bed1.jpg");  */
    background-color: rgb(196, 196, 199);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

}

.profileInfo {
    background-color: transparent;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button{
    background-color: #0e0eba;
    color: #fff;
    border: none;
    height: 2rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    width: 8rem;
}

button:hover{
    background-color: #052e75;
    color: #fff;
    border: none;
    height: 2rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    width: 8rem;
}


.form4 {
    width: 15rem;
    height: 30rem;
    background-color: transparent;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    mso-border-shadow: yes;
}

.toolbar {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.bio-Data {
    border-radius: 5px;
    box-shadow: 5px 2px 5px grey;
    border-top-color: lightgrey;
    height: 2rem;
    width: 20rem;
    border: none;
}

.form4 .update{
    background-color: #0e0eba;
    color: #fff;
    height: 2rem;
    width: 20rem;
}

.form4 .cancel{
    background-color: #0e0eba;
    color: #fff;
    height: 2rem;
    width: 20rem;
}




